.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .error {
        color: red;
        margin-left: 5px;
      }
      
      label.error {
        display: inline;
      }
      .container{
        min-height: 100vh;
    }
      table{
        margin-top: 50px;
        text-align: center;
        background:grey;
        color: rgb(110, 104, 104);
        width: 50%;

    }
    /* @media(max-width:620px){
      .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
        .card-registration .select-arrow {
        top: 13px;
        }
        .error {
            color: red;
            margin-left: 5px;
          }
          
          label.error {
            display: inline;
          }
          .container{
            min-height: 100vh;
        }
          table{
            margin-top: 50px;
            text-align: center;
            background:grey;
            color: rgb(110, 104, 104);
            width: 50%;
    
        }

    }
     */